<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://localhost:7141/style.css" rel="stylesheet">
  <title>Procards</title>
</head>

<body>
  <header>
    <a href="#" class="logo">PROCARDS</a>
    <p>PROCARDS</p>
  </header>
</body>

</html>