<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="css/mainStyle.css" rel="stylesheet">
  <title>Procards</title>
</head>

<body>

  <header>
    <p class="logo">PROCARDS</p>
    <nav>
      <ul class="header-nav">
        <li><a href="#" class="curent">ГЛАВНАЯ</a></li>
        <li><a href="learn.html">ОБУЧЕНИЕ</a></li>
        <li><a href="create.html">СОЗДАТЬ КАРТОЧКИ</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="hero">
      <div>
        <h1>ЦИФРОВОЙ ОБРАЗОВАТЕЛЬНЫЙ РЕСУРС ДЛЯ ШКОЛЬНИКОВ И ПРЕПОДАВАТЕЛЕЙ</h1>
        <p>Сервис для быстрого создания карточек, которые помогут запомнить любой материал.</p>
      </div>
      <img src="content/pattern.png" alt="" width="241" height="280">
    </section>
    <p class="description">
      Самый простой способ изучать, практиковать и осваивать в совершенстве любой нужный материал. Создавайте свои
      карточки или находите готовые из более чем 4 модулей, созданных учителями и учениками. С нашим набором учебных
      средств вы сможете пополнить словарный запас, выучить ключевые понятия по изучаемым предметам и отработать
      практические задачи перед предстоящим тестированием. Исследуйте нашу библиотеку учебных материалов по самым
      популярным предметам.
    </p>
    <section class="about">
      <h2>КАК ЭТО РАБОТАЕТ?</h2>
      <div class="about-content">
        <p class="first-paragraph">Преподаватель или же сам ученик создает карточки для интервального повторения
          материала.</p>
        <img src="content/arrow.svg" alt="">
        <p class="second-paragraph">Созданные карточки для запоминания отображается в разделе “ОБУЧЕНИЕ”</p>
      </div>
    </section>
  </main>

  <footer>
    <ul class="footer-nav">
      <li><a href="#">О НАС</a></li>
      <li><a href="#">ПОДДЕРЖКА</a></li>
      <li><a href="#">УСЛОВИЯ</a></li>
      <li><a href="#">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a></li>
    </ul>
    <p class="copyright">PROCARDS ©2022 Все права защищены</p>
  </footer>

</body>

</html>