.cards .add {
    background: linear-gradient(113.1deg, #163152 4.73%, #051325 94.3%);
}

.card {
    background: linear-gradient(113.28deg, #5484FF 6.29%, #22409D 93.77%);
}

.card-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px 300px;
    gap: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.big-card {
    margin: 0;
    width: 300px;
    height: 200px;
    background: linear-gradient(113.35deg, #246FCC 3.29%, #163152 95.15%);
}

.submit {
    display: block;
    width: 120px;
    height: 35px;
    margin: 50px auto 0;
    color: white;
    background: linear-gradient(113.1deg, #163152 4.73%, #051325 94.3%);
    border: 0px;
    border-radius: 10px;
    font-size: 10px;
}

.add-category {
    width: 130px;
    padding: 0;
}

input[type=text] {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
    border: 0px;
    background-color: transparent;
}

.card-content textarea {
    width: 260px;
    height: 160px;
    padding: 0;
    resize: none;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: 0px;
    display: block;
    resize: none;
    background-color: transparent;
}

::placeholder {
    color: white;
    opacity: 0.8;
    text-align: center;
}

.hidden,
textarea[type=hidden] {
    display: none;
}